
/* header navbar */
.nav-base{
    width:80%;
    margin:auto;
    height: 52px;
    background-color: #fff;
}
.nav-conatiner{
    width:1128px;
    padding: 0 16px;
    margin: auto;
}
.header-logo{
    width: 146px;
    height:34px;
    padding:10px;
}



/* form section */
#form-main-content{
    width:100%;
    height: 550px;
    background-image: pink;
    background-size: cover;
    background-image:url('https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fspecials-images.forbesimg.com%2Fdam%2Fimageserve%2F1131714824%2F960x0.jpg%3Ffit%3Dscale');
    padding: 10px;
}


.form-wrap{
    width: 40%;
    height: 475px;
    margin: auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;  
    text-align: center;    
    flex-direction: column;
}
.form-logo{
       padding-top: 20px ;
}
.form-h1{
    font-size: 24px;
    line-height: 31.9999px;
}
.form-p-section{
      margin-top: -23px !important;
}
.form-wrap p{
    
    color:#66666F;
}
#signIn{
    padding: 13px 140px;
    background-color: #0a66c2;
    color: #fff;
    border-radius: 28px;
    font-size: 16px;
    /* display: block; */
    text-align: center;

}


input{
    padding: 13px 76px;
    border-radius: 5px;
    font-size: 20px;
    
}
#forgot{
    color: #0a66c2;
     margin-top: 5px;
     text-decoration: none;
    /* display: block; */
}
.form-a{
    margin-top: 15px;
}
#forgot:hover{
    background-color: #98d8f4;
    border-radius: 28px;
    padding: 10px 15px;
}
.form-new a{
    text-decoration: none;
    color: #0a66c2;;

}
.form-new a:hover{
    background-color: #98d8f4;
    border-radius: 28px;
    padding: 10px 15px;

}




